<div class="postCardWrapper" *ngIf="post">
  <div class="postCard" [ngClass]="{ newCard: post.isNew }">
    <div class="postCardHeader">
      <h2 class="postCardTitle">
        <a class="postCardTitleLink" [routerLink]="postUrl">
          {{ post.title }}
        </a>
      </h2>
    </div>

    <div class="postCardInfo flexRow">
      <p>
        By
        <a href="https://github.com/oliverowen2210" class="postCardLink">
          Oliver Owen
        </a>
      </p>
      <p class="postCardDate">
        Posted on {{ post.createdAt | date : "longDate" }}
      </p>
      <p class="postCardComments">
        {{ post.commentCount }}
        {{ post.commentCount === 1 ? "comment" : "comments" }}
      </p>
    </div>
  </div>
</div>
